<div class="container">
    <app-navbar></app-navbar>

    <div class="content">

        <div class="png-b"><img src="../../assets/img/bot1.png " alt="" style="height: 700px; "></div>


        <div class="data-right">

            <div class="top">

                <h1 style="gap: 40px;">BETIMES<span style="color: #F47A20;"> AI</span></h1>
                <P>Discover how our tailored AI technologies can revolutionize your operations
                    and take your business to new heights. Join us on a journey towards efficiency and success.</P>
            </div>

            <div class="bottom">
                <button routerLink="/upload">Get Started</button>

                <img src="../../assets/img/Line 2.png" alt="">
                <p style="font-size: 16px; cursor: pointer;"> Lean more</p>
            </div>
        </div>


    </div>

    <footer>
        <p>Privacy Policy</p>
        <p>Powered By Betimes Solutions , Copyright 2024 All Right Reserved</p>
    </footer>

</div>