<div class="container">

    <app-navbar></app-navbar>

    <div class="content">

        <div class="top">
            <div class="Newtask">
                <div class="left">
                    <img src="../../assets/img/stars.png" alt="">
                    <h4>New Task</h4>
                </div>

                <div class="right">
                    <img src="../../assets/img/bx_exit.png" alt="" style="cursor: pointer;">
                </div>
            </div>
            <div class="chat-container">
                <div class="chat-message-sender">
                    <div class="cht-mes">
                        <div class="top-cht">
                            <span class="text1">You</span>
                            <span class="text2">
                                <p>Edit</p>
                                <img src="../../assets/img/Line 2.png" alt="">
                                <p>delete</p>
                            </span>
                        </div>

                        <p class="mess">Text...</p>
                    </div>

                    <div class="icn-cht">
                        <img src="../../assets/img/hugeicons_sent1.png" alt="">
                    </div>


                </div>



                <div class="chat-message-receiver">

                    <div class="icn-cht1">
                        <img src="../../assets/img/ri_voice-ai-line.png" alt="">
                    </div>





                    <div class="cht-mes1">
                        <div class="top-cht1">
                            <span class="text1">Betimes AI</span>
                            <span class="text2">
                                <p>Edit</p>
                                <img src="../../assets/img/Line 2.png" alt="">
                                <p>delete</p>
                            </span>
                        </div>

                        <p class="mess">Text...</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="bottom">

            <div class="box-left">
                <img src="../../assets/img/cuida_upload-outline.png" alt="" style="cursor: pointer;">
                <!-- <input type="text" placeholder="Sent a Message......" class="message-input" /> -->
                <textarea id="chatInput" rows="4" cols="50" placeholder="Sent a Message......"></textarea>
            </div>
            
            <div class="box-right">
                <img src="../../assets/img/carbon_voice-activate.png" alt="" style="cursor: pointer;" >
                <img src="../../assets/img/hugeicons_sent.png" alt="" style="cursor: pointer;">
            </div>
        </div>
    </div>

</div>