<div class="container">
    <app-navbar></app-navbar>

    <div class="content">
        <div class="top">

            <p>Welcome to <span style="color:#0080FF;">Betimes Solutions </span>Empowering you to </p>

            <h1>Create Better Times with <span style="color:#FF520E;">AI</span></h1>


        </div>

        <div class="center">

            <p style="width: 9000px; font-size: 20px;">Discover innovative, AI-driven solutions designed to streamline your business, optimize operations, and
                enhance decision-making. Experience the future of efficiency and creativity, powered by cutting-edge
                artificial intelligence.</p>
        </div>
        <div class="bottom">
            <button>Get Started</button>
            <div class="leanmore">
            <p style=" color: #D1D0D0; cursor: pointer;">Learn more  </p>
            <img src="../../assets/img/Vector.png" alt="" style="cursor: pointer;">
        </div>
        </div>

    </div>

<footer>
<p>Privacy Policy</p>
<p>Powered By Betimes Solutions , Copyright 2024 All Right Reserved</p>
</footer>

</div>